@{
    ViewData["Title"] = "My Account";
}

<h1 class="display-4">Welcome, @User.GetFullName()!</h1>    


<form action="/Account/ChangePassword" method="post">
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
